<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text Analyzer</title>
</head>

<body>
   
    <h1>Welcome to the text analyzer</h1>
    <form action='/analy' method='get'>
        <textarea name='text' style='margin: 0px; width: 721px; height:93px;'></textarea><br>
        <input type="checkbox" name="removepunc"> Remove Punctuations<br>
<button type='submit'>Analyze Text</button>
</form>
</body>

</html>
